<ion-view view-title="Chats">
  <ion-content>
      <div class="item card-item">
            <div ui-sref="app.gallery" class="card balanced-100-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/map_sample.png');"></span>
                    <strong>Riga, Marsalu iela</strong> Idiotu del avarija nav iespejams braukts visu dienu ritdien.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> Ritdien
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
              <div ui-sref="app.gallery" class="card balanced-100-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/map_sample.png');"></span>
                      <strong>Riga, Marsalu iela</strong> Idiotu del avarija nav iespejams braukts visu dienu ritdien.
                      <div class="card-footer text-right">
                          <i class="icon ion-chatbubbles positive"></i> 6
                          <i class="icon ion-heart assertive"></i> 23
                          <div class="pull-left">
                              <i class="icon ion-clock"></i> Ritdien
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="item card-item">
                <div ui-sref="app.gallery" class="card balanced-100-bg ink ink-dark">
                    <div class="item item-avatar item-text-wrap">
                        <span class="avatar" style="background-image: url('img/map_sample.png');"></span>
                        <strong>Riga, Marsalu iela</strong> Idiotu del avarija nav iespejams braukts visu dienu ritdien.
                        <div class="card-footer text-right">
                            <i class="icon ion-chatbubbles positive"></i> 6
                            <i class="icon ion-heart assertive"></i> 23
                            <div class="pull-left">
                                <i class="icon ion-clock"></i> Ritdien
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item card-item">
                  <div ui-sref="app.gallery" class="card balanced-100-bg ink ink-dark">
                      <div class="item item-avatar item-text-wrap">
                          <span class="avatar" style="background-image: url('img/map_sample.png');"></span>
                          <strong>Riga, Marsalu iela</strong> Idiotu del avarija nav iespejams braukts visu dienu ritdien.
                          <div class="card-footer text-right">
                              <i class="icon ion-chatbubbles positive"></i> 6
                              <i class="icon ion-heart assertive"></i> 23
                              <div class="pull-left">
                                  <i class="icon ion-clock"></i> Ritdien
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

  </ion-content>
</ion-view>
